.login,
.register {
  width: 50%;
  margin: 50px auto;
}
h2 {
  text-align: center;
}
.login input[type="email"],
.register input[type="email"],
.login input[type="password"],
.register input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.login button,
.login input[type="submit"],
.register button,
.register input[type="submit"] {
  background-color: #007bff;
  font-weight: 500;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .login,
  .register {
    width: 100%;
    margin: 20px;
  }
}
